@{
    ViewData["Title"] = "Home Page";
}
<script defer src="~/js/site.js"></script>
<div class="jumbotron">
    <h1>MVC Web App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the App:</h2>
        <p>
            The App consists of X2 Tables 
            with One-To-Many Relationship. 
        </p>
    </div>
    <div class="col-md-6" id="destroyShit">
        <h2>Built by Dmitrii Kotov</h2>
        <p>To get in touch, click the link below.</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/dmitrii.kotov.10/">FaceBook &raquo;</a></p>
    </div>
</div>

<div class="row">
    <button class="btn btn-secondary" onclick="MainFunction()"> Нажми</button> 
</div>